body {
    color: #eee;
    background-color: #222;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #aaf;
    text-decoration: none;
}

a::visited {
    color: #aa7;
}

.inline {
    width: 1em;
}
