
/* Raleway, my font of choice for headers */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 1 999;
    src: local(''), url('/assets/fonts/raleway-regular.ttf') format('truetype-variations');
}

/* Some styling */
:root {
    --text-color: #eee;
    --link-color: #aaf;
    --accent-color: #d9d916;

    --bg-color: #222;
    --header-bg-color: #111;

    --footer-text-color: #aaa;
    --footer-bg-color: #111;

    --socials-text-color: #eee;
    --socials-bg-color: #1f1f1f;
}

/* A simple reset on styling */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Force the height of the page to be full, so we can place the footer at the very bottom */
html, body {
    height: 100%;
}

body {
    /* CSS Grid, set so the main content fills the empty space with the header and footer at top and bottom, resp.*/
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);

    /* Colors! */
    color: var(--text-color);
    background-color: var(--bg-color);

    /* Set some sans fonts as defaults */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    /* Align the logo and text to be centered to each other */
    display: flex;
    align-items: center;

    /* Add a bit of top and bottom padding */
    padding: 0.2em 0;

    /* Embiggen the font size on the header */
    font-size: 1.5em;

    /* Background color and bottom border */
    background-color: var(--header-bg-color);
    border-bottom: var(--accent-color) 3px solid;
}

/* Remove the margin from the header's heading */
header > h1 {
    margin: 0 0;
}

/* Size up the logo and add a bit of space between it and the text*/
.logo {
    height: 2.5em;
    margin: 0.2em 1em;
}

/* A bit of margin, and an increase in font size */
main {
    margin: 0.5em 2em;
    font-size: 1.1em;
}

/* Footer is right-aligned and has a bit of padding*/
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);

    padding: 0.25em 0.5em;
    text-align: right;
}

/* Footer elements are spaced out a bit */
footer > * {
    margin: 0em 0.2em;
}

/* Social links, in the footer */
.socials_link {
    font-size: 0.85em;
    display: inline-block;
    border-radius: 1em;
    color: var(--socials-text-color);
    background-color: var(--socials-bg-color);
    padding: 0.1em 0.6em;
}

/* Inline icons match font size, and are aligned in the middle of text */
.icon {
    width: 1em;
    vertical-align: middle;
}

/* Font for headers is Raleway */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

/* H1 and H2 (used in the header and top-level for the main content) have some margin */
h1,
h2 {
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

/* Links are colored without an underline, whether visited or not */
a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}
