@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 1 999;
    src: local(''), url('/assets/fonts/raleway-regular.ttf') format('truetype-variations');
}

:root {
    --text-color: #eee;
    --bg-color: #222;
    --header-bg-color: #111;
    --link-color: #55f;
    --accent-color: #d9d916;
    --footer-text-color: #aaa;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-bg-color);
    font-size: 3em;
    font-weight: 700;
    border-bottom: var(--accent-color) 3px solid;
}

.body {
    flex: 1;
    padding: 0.5em;
    font-size: 1.1em;
}

header img {
    width: 1.25em;
    margin: 0.2em 0.5em;
}

footer {
    color: var(--footer-text-color);
    text-align: right;
}

footer>* {
    margin: 0 0.3em;
}

.socials_link {
    font-size: 0.85em;
}

.icon {
    width: 1em;
}

p {
    margin-bottom: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
footer {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a::visited {
    color: var(--link-color);
    text-decoration: none;
}

.inline {
    width: 1em;
}